In [ ]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
#from googletrans import Translator
from deep_translator import GoogleTranslator

In [2]:
# Load cherry blossom bloom dates from JMA
url = 'https://www.data.jma.go.jp/sakura/data/sakura003_04.html'
response = requests.get(url)
data = response.content

In [3]:
# Parse HTML with BeautifulSoup
soup = BeautifulSoup(data, 'lxml')

In [41]:
# Print the entire HTML to inspect the structure
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   気象庁 | さくらの開花日(1991-2000年)
  </title>
  <meta content="気象庁 Japan Meteorological Agency" name="Author"/>
  <meta content="気象庁 Japan Meteorological Agency" name="keywords"/>
  <meta content="過去のさくらの開花日・満開日を表示します" name="description"/>
  <meta content="text/css" http-equiv="Content-Style-Type"/>
  <meta content="text/javascript" http-equiv="Content-Script-Type"/>
  <link href="/com/css/define.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="css/default.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="//www.jma.go.jp/jma/com/js/jquery.js" type="text/javascript">
  </script>
  <style media="all" type="text/css">
   <!-- @import url(/com/default.css); -->
  </style>
 </head>
 <body>
  <noscript>
   <div>
    すべての機能をご利用いただくにはJavascriptを有効にしてください。
   </div>
  </noscript>
  <!--header start -->
  <div id="header_area">
   <div id="nheader">
    <div id="logo">
     <a href="//www.jma.go.jp/jma/index.html">
      <img alt="気象庁" height="67" src="//www.jma.go.jp/jma/com/images/logo.gif" width="120"/>
     </a>
    </div>
    <div id="header2_right">
     <div id="header2_link">
      <ul>
       <li lang="en" xml:lang="en">
        <a href="//www.jma.go.jp/jma/indexe.html">
         ENGLISH
        </a>
       </li>
      </ul>
     </div>
     <!-- search -->
     <div id="gsearch">
      <form action="//google.com/cse" id="cse-search-box">
       <input name="cx" type="hidden" value="009950868052057056798:0yrbmp7chwi"/>
       <input name="ie" type="hidden" value="UTF-8"/>
       <input name="q" type="text"/>
       <input alt="検索" name="sa" src="/com/images/btn_search6.png" type="image"/>
      </form>
      <script src="//www.google.com/cse/brand?form=cse-search-box&amp;lang=ja" type="text/javascript">
      </script>
     </div>
     <!-- search end-->
    </div>
    <ul id="gnavi">
     <li>
      <a href="//www.jma.go.jp/">
       ホーム
      </a>
     </li>
     <li>
      <a href="//www.jma.go.jp/jma/menu/menuflash.html">
       防災情報
      </a>
     </li>
     <li>
      <a class="on" href="//www.jma.go.jp/jma/menu/menureport.html">
       各種データ・資料
      </a>
     </li>
     <li>
      <a href="//www.jma.go.jp/jma/menu/areas.html">
       地域の情報
      </a>
     </li>
     <li>
      <a href="//www.jma.go.jp/jma/menu/menuknowledge.html">
       知識・解説
      </a>
     </li>
     <li>
      <a href="//www.jma.go.jp/jma/menu/menuappli.html">
       各種申請・ご案内
      </a>
     </li>
    </ul>
   </div>
  </div>
  <!--header end -->
  <div id="contents_area2">
   <div id="ncontents2">
    <!-- pankuzu menu -->
    <ul class="breadcrumb2">
     <li>
      <a href="//www.jma.go.jp/">
       ホーム
      </a>
      &gt;
     </li>
     <li>
      <a href="//www.jma.go.jp/jma/menu/menureport.html">
       各種データ・資料
      </a>
      &gt;
     </li>
     <li>
      <a href="/cpdinfo/menu/">
       地球環境・気候
      </a>
      &gt;
     </li>
     <li>
      <a href="index.html">
       生物季節観測の情報
      </a>
      &gt;
     </li>
     <li>
      さくらの開花日(1991-2000年)
     </li>
    </ul>
    <!-- //pankuzu menu -->
    <div id="main">
     <!-- contents -->
     <h1>
      さくらの開花日(1991-2000年）
     </h1>
     <div class="indent">
      <div align="right">
       <a href="sakura003_03.html">
        (1981-1990年へ)
       </a>
       ／
       <a href="sakura003_05.html">
        (2001-2010年へ)
       </a>
      </div>
      <pre>

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

稚内     *   5 14   5 17   5 15   5 16   5  8   5 20   5 15   5 11   5 14   5 18    5 13    えぞやまざくら
留萌         5  7   5 12   5 12   5 14   5  5   5 20   5 12   4 29   5 14   5 13       -    えぞやまざくら
旭川     *   5  5   5  9   5  8   5 11   5  2   5  7   5  5   4 23   5  4   5  9    5  4    えぞやまざくら
網走     *   5  8   5 13   5 20   5 13   5  8   5 24   5 12   4 28   5  9   5 18    5 10    えぞやまざくら
札幌     *   5  2   5  4   5  6   5  6   5  1   5  5   5  1   4 23   5  3   5  8    5  1
岩見沢       5  4   5  9   5  7   5  8   5  3   5  7   5  3   4 24   5  3   5  9       -    えぞやまざくら
帯広     *   5  4   5  6   5  8   5  6   5  4   5  8   4 30   4 23   5  3   5 10    5  2    えぞやまざくら
釧路     *   5 11   5 17   5 16   5 13   5 14   5 28   5 19   5 14   5 19   5 17    5 16    えぞやまざくら
根室         5 13   5 24      -   5 19   5 18   5 24   5 14   5 14   5 19   5 22       -    ちしまざくら
室蘭     *   5  2   5  6   5  4   5  6   5  5   5 13   5  2   4 29   5  8   5 15    5  4

浦河         5  7   5 12   5 12   5 13   5  9   5 11   5  5   5  4   5  2   5  8       -    えぞやまざくら
江差         4 30   4 28   5  1      -   4 29   5  5   4 30   4 22   4 28   5  5       -
函館     *   4 28   4 28   4 27   4 30   4 30   5  4   4 27   4 22   4 27   5  3    4 28
倶知安       5  9   5 10   5 12   5 14   5  8   5 19   5  9   4 28   5  9   5 12       -    （注）
紋別         5  7   5 11   5 17   5 11   5  7   5 27   5  7   4 29   5 12   5 21       -    えぞやまざくら
広尾         5  4   5 10   5 13   5  8   5  5   5 13   5  2   4 26      -      -       -    えぞやまざくら
新庄         4 17   4 19   4 21   4 20   4 20   4 27   4 24      -      -      -       -
青森     *   4 24   4 22   4 23   4 22   4 24   4 30   4 23   4 16   4 26   4 29    4 22
八戸         4 19   4 21   4 21   4 23   4 23   4 28   4 22   4 14   4 22   4 25       -
秋田     *   4 16   4 17   4 19   4 19   4 18   4 25   4 17   4 13   4 17   4 20    4 17

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

盛岡     *   4 17   4 21   4 23   4 21   4 24   4 28   4 23   4 12   4 20   4 22    4 18
宮古         4 17   4 21   4 20   4 17   4 22   4 25   4 22   4 14   4 17   4 23       -
酒田         4 13   4 10   4 16   4 15   4 15   4 23   4 13   4 10   4 13   4 18       -
山形     *   4 12   4 12   4 16   4 15   4 17   4 24   4 13   4 11   4 14   4 19    4 13
仙台     *   4 11   4  6   4  9   4 11   4 11   4 17   4  8   4  8   4  8   4 13    4  8
福島     *   4  9   4  5   4 12   4  8   4  9   4 15   4  8   4  7   4  5   4 13    4  7
白河         4 12   4 10   4 16   4 14   4 18   4 24   4 10      -      -      -       -
小名浜       4  9   4  2   4  8   4  7   4  6   4  8   4  1   4  7   4  2   4  8       -
輪島         4 11   4  5   4  8   4 12   4 10   4 17   4  7   4  6   4  8   4 13       -
相川         4 13   4  8   4 14   4 13   4 14   4 19   4 11   4  8   4 11   4 13       -

新潟     *   4 11   4  5   4  9   4 11   4  9   4 16   4  7   4  6   4  6   4 12    4  8
金沢     *   4  7   4  2   4  2   4 11   4  8   4 11   4  2   3 31   4  1   4  7    4  3
富山     *   4 10   4  4   4 11   4 11   4  7   4 10   4  1   3 30   4  1   4 10    4  3
長野     *   4 12   4  9   4 18   4 15   4 17   4 23   4 11   4 10   4 10   4 18    4 11
高田         4 10   4  5   4 11   4 10   4  8   4 15   4  6   4  4   4  5   4 10       -
宇都宮   *   4  4   3 30   4  2   4  4   4  4   4  6   3 30   3 30   3 26   4  5    3 30
福井     *   4  6   4  1   4  4   4  7   4  5   4  7   3 30   3 29   3 26   4  8    4  1
高山         4 15   4 10   4 21   4 18   4 18   4 25   4 14   4 10   4 13   4 21       -
松本         4 10   4  6   4 14   4 14   4 14   4 19   4  5   4  8   4  5   4 13       -
前橋     *   3 31   3 26   3 27   4  2   4  5   4  4   3 28   3 29   3 26   4  4    3 29

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

熊谷     *   3 29   3 22   3 25   4  1   4  2   4  1   3 26   3 28   3 27   3 31    3 27
水戸     *   4  5   3 31   4  2   4  5   4  5   4  7   3 29   3 31   3 29   4  3    3 30
敦賀         4  4   3 29   4  2   4  5   4  4   4  6   3 29   3 29   3 26   4  7       -
岐阜     *   3 28   3 24   3 27   3 31   3 27   3 30   3 22   3 22   3 23   4  3    3 25
名古屋   *   3 28   3 21   3 26   3 31   3 27   3 29   3 23   3 22   3 24   4  3    3 24
飯田         4  5   3 30   4  3   4  6   4  6   4  8   3 30   3 30   3 29   4 10       -
甲府     *   3 29   3 24   3 26   4  1   3 31   3 31   3 22   3 26   3 18   3 31    3 25
銚子     *   4  1   3 28   4  4   4  4   4  2   3 31   3 30   4  3   3 25   4  4    3 30
津       *   4  1   3 28   4  2   4  3   4  3   4  5   3 28   3 27   3 27   4  5    3 29
浜松         3 30   3 26   3 31   4  3   3 31   3 28   3 26   3 24   3 24   4  3       -

静岡     *   3 31   3 24   3 30   4  2   4  1   3 26   3 22   3 21   3 21   3 30    3 24
東京     *   3 30   3 24   3 24   3 31   3 31   3 31   3 21   3 27   3 24   3 30    3 24
尾鷲         3 29   3 25   3 27   4  2   3 31   3 27   3 27   3 26   3 22   3 31       -
横浜     *   3 29   3 23   3 24   4  1   3 31   3 29   3 25   3 28   3 24   3 29    3 25
館山         4  3   3 27   4  2   4  3   4  5   3 30   3 30   3 31   3 30   4  4       -
大島         3 27   3 26   4  1   4  3   4  1   3 28   3 27   3 28   3 22   4  2       -
三宅島       3 28   3 31   4  1   4  3   4  5   3 28   3 24   3 28   3 21   4  4       -
八丈島       4  3   3 30   4  9   4  4   4  2   3 23   3 30   4  1   3 26   4  6       -
西郷         4  9   3 31   4  2   4  7   4  6   4 13   3 31   3 30   4  3   4  7       -
松江     *   4  7   3 30   4  1   4  5   4  3   4  6   3 28   3 26   3 29   4  2    3 29

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

米子         4  5   3 31   4  1   4  5   4  4   4  6   3 28   3 27   3 27   4  3       -
鳥取     *   4  5   3 31   4  1   4  5   4  4   4  6   3 28   3 26   3 26   4  5    3 29
豊岡         4  6   4  2   4  3   4  6   4  6   4  9   4  1   3 28   3 29   4  8       -
舞鶴         4  5   3 31   4  3   4  6   4  6   4  9   4  2   3 28   3 31   4 10       -
浜田         4  4   3 26   3 30   4  2   3 31   3 30   3 27   3 23   3 28   3 30       -
京都     *   3 30   3 27   3 28   4  3   3 31   3 31   3 26   3 24   3 25   4  3    3 26
彦根     *   4  4   3 31   4  3   4  5   4  1   4  8   3 30   3 29   3 29   4  9    4  1
広島     *   3 31   3 27   3 26   3 31   3 29   4  1   3 22   3 20   3 27   3 28    3 25
岡山     *   3 31   3 30   3 29   4  3   4  1   4  3   3 28   3 27   3 27   4  1    3 28
神戸     *   3 29   3 27   3 29   4  2   3 31   3 31   3 26   3 24   3 25   4  2    3 27

大阪     *   3 29   3 26   3 29   3 31   3 31   3 31   3 27   3 25   3 24   4  2    3 27
洲本         4  3   3 26   3 31   4  2   4  4   4  2   3 29   3 24   3 30   4  2       -
和歌山   *   3 27   3 25   3 28   4  1   3 28   3 29   3 18   3 24   3 24   3 28    3 24
潮岬         3 27   3 28   4  2   4  3   3 31   3 28   3 23   3 26   3 21   3 31       -
奈良     *   3 28   3 26   3 30   4  3   4  1   4  1   3 28   3 26   3 26   4  5    3 28
松山     *   3 28   3 25   3 26   3 31   3 30   3 29   3 24   3 21   3 25   3 28    3 24
高松     *   3 29   3 25   3 27   4  2   3 31   4  2   3 28   3 25   3 27   3 31    3 27
宇和島       3 24   3 23   3 30   3 29   3 27   3 24   3 17   3 18   3 19   3 25       -
高知     *   3 24   3 25   3 29   3 30   3 28   3 25   3 15   3 17   3 19   3 27    3 22
徳島     *   3 29   3 29   3 30   4  2   3 29   3 29   3 25   3 26   3 24   3 30    3 28

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

下関     *   4  5   3 27   4  2   4  2   4  1   3 31   3 25   3 26   3 29   3 28    3 26
厳原         4  3   3 25   3 27   4  1   3 31   3 31   3 21   3 21   3 26   3 27       -
福岡     *   3 29   3 22   3 24   3 29   3 27   3 23   3 18   3 19   3 21   3 25    3 22
佐賀     *   3 29   3 25   3 29   3 29   3 31   3 25   3 18   3 18   3 21   3 27    3 24
大分     *   3 28   3 26   3 27   3 30   3 27   3 26   3 20   3 19   3 26   3 26    3 24
福江         3 29   3 22   3 31   4  2   4  1   3 26   3 20   3 26   3 26   3 28       -
長崎     *   3 27   3 22   3 30   3 30   3 31   3 23   3 18   3 24   3 22   3 26    3 23
熊本     *   3 27   3 18   3 27   3 29   3 30   3 22   3 15   3 17   3 22   3 24    3 22
延岡         3 27   3 24   4  1   3 30   3 31      -   3 18   3 26   3 20      -       -
鹿児島   *   3 24   3 26   3 31   3 29   3 31   3 25   3 21   3 28   3 26   3 30    3 26

宮崎     *   3 20   3 24   4  2   3 30   3 30   3 22   3 17   3 23   3 25   3 28    3 23
屋久島       3 25      -      -      -      -      -      -      -      -      -       -
種子島       3 24   3 27   3 29   3 29   3 31   3 22   3 23   4  3   4  2   3 30       -
名瀬     *   1 22   1 17   1 18   1 19   1 31   1 14   1 20   1 12   1 18   1 18    1 20    ひかんざくら
与那国島        -   1 24   2  2   1 18   2 22   1 18   2  3   2  9   2  6   1 20       -    ひかんざくら
石垣島   *   1 24   1  5   1  4   1 15   2  1   1  4   1 11   2 15   1 31   1 14    1 18    ひかんざくら
宮古島   *   1 20   1 10   1  6   1  5   2  2   1  7   1  8   1 10   1 15   1  5    1 17    ひかんざくら
久米島       1  2   1  5   1  7   1 12   1 15   1 13   1 15   1 20   1 26   1  7       -    ひかんざくら
那覇     *   1 24   1 26   1 23   1 20   2  8   1 25   1 20   1 16   2  2   1 18    1 16    ひかんざくら
名護         1  7   1  6   1  4   1 10   1 16   1  4   1  1   1  4  12 28#  1  1       -    ひかんざくら

地点名　     1991   1992   1993   1994   1995   1996   1997   1998   1999   2000   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

西表島       1 27   1 21   1 14   1 21   2  3   1 14   1 20   1 30   2  7   1 16       -    ひかんざくら
南大東島 *   1 22   1 20   1  4   1  7   1 19   1 25   1 24   1 13   1 27   1 17    1 20    ひかんざくら
</pre>
      <p>
       <br/>
       「*」が現在観測中の地点です。
       <br/>
       代替種目が空欄の地点は
       <strong>
        そめいよしの
       </strong>
       を観測しています。
       <br/>
       「-」は観測値なしを表しています。
       <br/>
       平年値は、1991-2020年の平均値です。
       <br/>
       「#」は、前年に観測したことを表します。
       <br/>
       (注）倶知安は1994年まで
       <strong>
        えぞやまざくら
       </strong>
       を、1995年から2006年まで
       <strong>
        そめいよしの
       </strong>
       を観測していました。
       <br/>
      </p>
     </div>
    </div>
    <!-- //contents -->
    <p class="totop">
     <a href="#nheader">
      このページのトップへ
     </a>
    </p>
   </div>
  </div>
  <div id="footer_area">
   <div id="nfooter">
    <!-- 		<p>気象庁：〒100-8122東京都千代田区大手町1-3-4  代表電話：03-3212-8341</p>
 -->
    <ul>
     <li>
      <a href="//www.jma.go.jp/jma/kishou/info/coment.html">
       気象庁ホームページについて
      </a>
     </li>
    </ul>
   </div>
  </div>
 </body>
</html>

In [42]:
# Find the table and extract rows
# Find the pre tag containing the table data
pre_tag = soup.find('pre')

In [4]:
# Find the pre tag containing the table data
pre_tag = soup.find('pre')
# Extract the text from the pre tag
table_text = pre_tag.get_text()

# Print the extracted table text
#print(table_text)

In [5]:
# Process the table text to extract data
lines = table_text.split('\n')
data = []
columns = ['Location', '*']
for year in range(1991,2001):
    columns.extend([f'{year}_Month', f'{year}_Day'])
    
columns.extend(['平年値_Month', '平年値_Day', '代替種目'])

In [6]:
# Extract data rows
for line in lines:
    if line.strip() and not line.startswith('地点名') and not line.startswith('月'):
        row_data = line.split()
        #if len(row_data) == 25:  # Ensure the row has the correct number of columns
        data.append(row_data)

In [7]:
# For some reason the previous code still didn't eliminate the lines starting with month/day so we filter out the data list instead
# Initialize an empty list to store valid data rows
data_filtered = []

# Extract data rows
for row_data in data:
    # Check if the row does not start with '月' or '地点名'
    if not row_data[0].startswith('月') and not row_data[0].startswith('地点名'):
        data_filtered.append(row_data)

# Now data_filtered contains only valid rows excluding rows starting with '月' or '地点名'
#print(data_filtered)

In [8]:
# Function to insert 'Not currently under observation' as the second element where '*' is missing
def insert_star(lst):
    if lst[1] != '*':
        lst.insert(1, 'Not currently under observation')
    return lst

# Apply the function to each list in data
modified_data = [insert_star(row) for row in data_filtered]

In [9]:
# Now that we fixed that I also noticed that the observations where the date is missing are filled out with a '-' value
# however because these values are present only under the 'day' columns and this will create a problem later on when we
# try to combine the day and month values, lets try and fix that

modified_data2 = []

# Iterate through each row in data_filtered
for row_data in modified_data:
    modified_row = []
    for item in row_data:
        # Check if the item is '-'
        if item == '-':
            modified_row.append('-')  # Add '-' before existing '-'
            modified_row.append(item) 
        else:
            modified_row.append(item)  # Add the item unchanged
        
    # Append the modified row to data_modified
    modified_data2.append(modified_row)

# Now data_modified contains all rows with '-' prefixed where necessary
#print(modified_data2)

In [10]:
# Create a DataFrame from the extracted data
df = pd.DataFrame(modified_data2, columns=columns)

In [11]:
df.head()

,Location,*,1991_Month,1991_Day,1992_Month,1992_Day,1993_Month,1993_Day,1994_Month,1994_Day,...,1997_Day,1998_Month,1998_Day,1999_Month,1999_Day,2000_Month,2000_Day,平年値_Month,平年値_Day,代替種目
0,稚内,*,5,14,5,17,5,15,5,16,...,15,5,11,5,14,5,18,5,13,えぞやまざくら
1,留萌,Not currently under observation,5,7,5,12,5,12,5,14,...,12,4,29,5,14,5,13,-,-,えぞやまざくら
2,旭川,*,5,5,5,9,5,8,5,11,...,5,4,23,5,4,5,9,5,4,えぞやまざくら
3,網走,*,5,8,5,13,5,20,5,13,...,12,4,28,5,9,5,18,5,10,えぞやまざくら
4,札幌,*,5,2,5,4,5,6,5,6,...,1,4,23,5,3,5,8,5,1,None

In [12]:
# we will drop the 'average value' and 'alternative species' bcz we will not be needing them
df = df.iloc[:, :-3]

In [13]:
# Combine month and day columns for each year
years = list(range(1991, 2001))  # Years from 1991 to 2000
for year in years:
    month_col = f'{year}_Month'
    day_col = f'{year}_Day'
    combined_col = f'{year}'
    df[combined_col] = df[month_col] + ' ' + df[day_col]
    df.drop([month_col, day_col], axis=1, inplace=True)

In [14]:
# attetion ! now we have '- -' values where the date is missing lets replace them with NaN
df.replace('- -', np.nan, inplace=True)

In [15]:
df.head()

,Location,*,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,稚内,*,5 14,5 17,5 15,5 16,5 8,5 20,5 15,5 11,5 14,5 18
1,留萌,Not currently under observation,5 7,5 12,5 12,5 14,5 5,5 20,5 12,4 29,5 14,5 13
2,旭川,*,5 5,5 9,5 8,5 11,5 2,5 7,5 5,4 23,5 4,5 9
3,網走,*,5 8,5 13,5 20,5 13,5 8,5 24,5 12,4 28,5 9,5 18
4,札幌,*,5 2,5 4,5 6,5 6,5 1,5 5,5 1,4 23,5 3,5 8

In [16]:
df.tail()

,Location,*,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
97,久米島,Not currently under observation,1 2,1 5,1 7,1 12,1 15,1 13,1 15,1 20,1 26,1 7
98,那覇,*,1 24,1 26,1 23,1 20,2 8,1 25,1 20,1 16,2 2,1 18
99,名護,Not currently under observation,1 7,1 6,1 4,1 10,1 16,1 4,1 1,1 4,12 28#,1 1
100,西表島,Not currently under observation,1 27,1 21,1 14,1 21,2 3,1 14,1 20,1 30,2 7,1 16
101,南大東島,*,1 22,1 20,1 4,1 7,1 19,1 25,1 24,1 13,1 27,1 17

In [17]:
# before we continue, it looks like one observation is wrong lets fix that
df['1999'] = df['1999'].replace({'12 28#': '12 28'})

In [18]:
# Loop through each year column (adjust range according to your columns)
for year in range(1991, 2001):  # assuming columns are from '1991_Month' to '2000_Day'
    # Replace any leading spaces (if any)
    df[f'{year}'] = df[f'{year}'].str.replace(r'^\s+', '', regex=True)
    
    # Fixing the format to mm-dd
    df[f'{year}'] = pd.to_datetime(df[f'{year}'], format='%m %d').dt.strftime('%m-%d')

In [19]:
df.head()

,Location,*,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,稚内,*,05-14,05-17,05-15,05-16,05-08,05-20,05-15,05-11,05-14,05-18
1,留萌,Not currently under observation,05-07,05-12,05-12,05-14,05-05,05-20,05-12,04-29,05-14,05-13
2,旭川,*,05-05,05-09,05-08,05-11,05-02,05-07,05-05,04-23,05-04,05-09
3,網走,*,05-08,05-13,05-20,05-13,05-08,05-24,05-12,04-28,05-09,05-18
4,札幌,*,05-02,05-04,05-06,05-06,05-01,05-05,05-01,04-23,05-03,05-08

In [22]:
def translate_text(text):
    try:
        translated = GoogleTranslator(source='ja', target='en').translate(text)
        return translated
    except Exception as e:
        print(f"Translation error: {e}")
        return text  # Return original text on error

# Apply translation to the DataFrame column
df['Location'] = df['Location'].apply(translate_text)

In [23]:
df.head()

,Location,*,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,Wakkanai,*,05-14,05-17,05-15,05-16,05-08,05-20,05-15,05-11,05-14,05-18
1,Rumoi,Not currently under observation,05-07,05-12,05-12,05-14,05-05,05-20,05-12,04-29,05-14,05-13
2,Asahikawa,*,05-05,05-09,05-08,05-11,05-02,05-07,05-05,04-23,05-04,05-09
3,Abashiri,*,05-08,05-13,05-20,05-13,05-08,05-24,05-12,04-28,05-09,05-18
4,Sapporo,*,05-02,05-04,05-06,05-06,05-01,05-05,05-01,04-23,05-03,05-08

In [ ]:
# check if this data is first bloom or full bloom

In [30]:
# check for any duplicates
a = list(df['Location'].unique())
print(a.sort())
print(a)
print(len(a))
print(df.shape)

None
['Abashiri', 'Aikawa', 'Akita', 'Aomori', 'Asahikawa', 'Cape Shionomisaki', 'Choshi', 'Esashi', 'Fukue', 'Fukui', 'Fukuoka', 'Fukushima', 'Gifu', 'Hachijojima', 'Hachinohe', 'Hakodate', 'Hamada', 'Hamamatsu', 'Hikone', 'Hiroo', 'Hiroshima', 'Iida', 'Iriomote Island', 'Ishigaki Island', 'Iwamizawa', 'Izuhara', 'Kagoshima', 'Kanazawa', 'Kobe', 'Kochi', 'Kofu', 'Kumagaya', 'Kumamoto', 'Kumejima', 'Kushiro', 'Kutchan', 'Kyoto', 'Maebashi', 'Maizuru', 'Matsue', 'Matsumoto', 'Matsuyama', 'Minamidaito Island', 'Mito', 'Miyake Island', 'Miyako', 'Miyakojima', 'Miyazaki', 'Monbetsu', 'Morioka', 'Muroran', 'Nagano', 'Nagasaki', 'Nago', 'Nagoya', 'Naha', 'Nara', 'Naze', 'Nemuro', 'Niigata', 'Nobeoka', 'Obihiro', 'Oita', 'Okayama', 'Onahama', 'Osaka', 'Oshima', 'Owase', 'Rumoi', 'Saga', 'Saigo', 'Sakata', 'Sapporo', 'Sendai', 'Shimonoseki', 'Shinjo', 'Shirakawa', 'Shizuoka', 'Sumoto', 'Takada', 'Takamatsu', 'Takayama', 'Tanegashima', 'Tateyama', 'Tokushima', 'Tokyo', 'Tottori', 'Toyama', 'Toyooka', 'Tsu', 'Tsuruga', 'Urakawa', 'Utsunomiya', 'Uwajima', 'Wajima', 'Wakayama', 'Wakkanai', 'Yakushima', 'Yamagata', 'Yokohama', 'Yonago', 'Yonaguni Island']
102
(102, 12)

# looks like no duplicates
df['Location'].value_counts()

In [ ]:
# check the GMU git hub , only need to add lat long of locations, and maybe the data format they used is better in japan.csv
# also maybe add temperature data